In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import multiprocessing as mp
plt.style.use("fivethirtyeight")
#libraries used for Association rule mining
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
train=pd.read_csv("subset_train_data.csv")

In [72]:
test=pd.read_csv("test_ver2.csv",low_memory=False,na_values=[""," ","?"])

In [5]:
#pd.set_option('display.max_columns', 500)
#test

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,NaN,1.0,A,S,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,15.0,"CORUÃ‘A, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO
5,2016-06-28,1170550,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,NA,03 - UNIVERSITARIO
6,2016-06-28,1170552,N,ES,H,51,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KFC,N,1,35.0,"PALMAS, LAS",1,96395.88,02 - PARTICULARES
7,2016-06-28,1170553,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,45.0,TOLEDO,0,NA,03 - UNIVERSITARIO
8,2016-06-28,1170555,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,28.0,MADRID,0,NA,03 - UNIVERSITARIO
9,2016-06-28,1170557,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,15.0,"CORUÃ‘A, A",1,68322.72,03 - UNIVERSITARIO
10,2016-06-28,1170559,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,14.0,CORDOBA,0,39327.87,03 - UNIVERSITARIO
11,2016-06-28,1170563,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,28.0,MADRID,0,NA,03 - UNIVERSITARIO
12,2016-06-28,1170542,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,108397.08,03 - UNIVERSITARIO
13,2016-06-28,1170565,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,15.0,"CORUÃ‘A, A",0,NA,03 - UNIVERSITARIO
14,2016-06-28,1170568,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,30.0,MURCIA,0,124086.75,03 - UNIVERSITARIO
15,2016-06-28,1170570,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,28.0,MADRID,1,154306.95,03 - UNIVERSITARIO
16,2016-06-28,1170576,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,15.0,"CORUÃ‘A, A",0,109630.98,03 - UNIVERSITARIO
17,2016-06-28,1170578,N,ES,V,41,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KAT,N,1,8.0,BARCELONA,0,76589.91,02 - PARTICULARES
18,2016-06-28,1170579,N,ES,H,36,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KFC,N,1,30.0,MURCIA,1,86862.48,02 - PARTICULARES
19,2016-06-28,1170581,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,28.0,MADRID,0,35746.41,03 - UNIVERSITARIO
20,2016-06-28,1170583,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,28.0,MADRID,1,88322.19,03 - UNIVERSITARIO
21,2016-06-28,1170585,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,16.0,CUENCA,0,NA,03 - UNIVERSITARIO
22,2016-06-28,1170587,N,ES,H,33,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KFC,N,1,15.0,"CORUÃ‘A, A",1,NA,03 - UNIVERSITARIO
23,2016-06-28,1170588,N,ES,H,41,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KFC,N,1,29.0,MALAGA,1,41400.81,02 - PARTICULARES
24,2016-06-28,1170589,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,3.0,ALICANTE,0,47322.18,03 - UNIVERSITARIO
25,2016-06-28,1170567,N,ES,V,23,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,28.0,MADRID,0,73972.50,03 - UNIVERSITARIO
26,2016-06-28,1170541,N,ES,V,43,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KFC,N,1,23.0,JAEN,1,122837.70,02 - PARTICULARES
27,2016-06-28,1170539,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,406046.25,03 - UNIVERSITARIO
28,2016-06-28,1170538,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,NA,03 - UNIVERSITARIO
29,2016-06-28,1170493,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,11.0,CADIZ,1,50311.53,03 - UNIVERSITARIO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929585,2016-06-28,660255,N,ES,H,37,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KFC,N,1,50.0,ZARAGOZA,1,52997.94,02 - PARTICULARES
929586,2016-06-28,659581,N,ES,V,58,2006-11-27,0,115,1,NaN,1.0,I,S,N,NaN,KAT,N,1,28.0,MADRID,0,137221.59,02 - PARTICULARES
929587,2016-06-28,660253,N,ES,V,69,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KFC,N,1,6.0,BADAJOZ,1,82479.36,02 - PARTICULARES
929588,2016-06-28,660244,N,ES,V,56,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KFC,N,1,41.0,SEVILLA,1,119331.78,02 - PARTICULARES
929589,2016-06-28,660181,N,ES,H,40,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,28.0,MADRID,0,172893.33,02 - PARTICULARES
929590,2016-06-28,660185,N,ES,H,66,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KAT,N,1,28.0,MADRID,0,231388.83,02 - PARTICULARES
929591,2016-06-28,660186,N,ES,V,51,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,28.0,MADRID,0,240948.30,02 - PARTICULARES
929592,2016-06-28,660188,N,ES,H,70,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KAB,N,1,50.0,ZARAGOZA,0,112243.05,02 - PARTICULARES
929593,2016-06-28,660189,N,ES,H,40,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KAT,N,1,28.0,MADRID,1,102198.48,02 - PARTICULARES
929594,2016-06-28,660190,N,ES,H,42,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KAE,N,1,46.0,VALENCIA,0,169482.12,02 - PARTICULARES
929595,2016-06-28,660191,N,ES,V,39,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,42.0,SORIA,0,24079.47,02 - PARTICULARES
929596,2016-06-28,660193,N,ES,H,43,2006-11-29,0,115,1,NaN,1.0,A,S,S,NaN,KAT,N,1,46.0,VALENCIA,1,46976.40,02 - PARTICULARES
929597,2016-06-28,660194,N,ES,H,38,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KFC,N,1,41.0,SEVILLA,1,50794.53,02 - PARTICULARES
929598,2016-06-28,660195,N,ES,H,60,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,5.0,AVILA,0,49305.18,02 - PARTICULARES
929599,2016-06-28,660197,N,ES,H,46,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KAE,N,1,47.0,VALLADOLID,0,89636.76,02 - PARTICULARES
929600,2016-06-28,660198,N,ES,H,41,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KAT,N,1,28.0,MADRID,0,73682.58,02 - PARTICULARES
929601,2016-06-28,660208,N,ES,H,80,2006-12-23,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,28.0,MADRID,0,80681.73,02 - PARTICULARES
929602,2016-06-28,660212,N,CO,V,47,2006-11-29,0,115,1,NaN,1.0,I,N,S,NaN,KFC,N,1,NaN,NaN,0,NA,02 - PARTICULARES
929603,2016-06-28,660213,N,ES,V,39,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KAT,N,1,28.0,MADRID,1,171912.09,02 - PARTICULARES
929604,2016-06-28,660217,N,ES,V,29,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,28.0,MADRID,0,137066.61,02 - PARTICULARES
929605,2016-06-28,660223,N,ES,V,40,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KAT,N,1,28.0,MADRID,1,139164.12,01 - TOP
929606,2016-06-28,660224,N,ES,H,40,2010-08-10,0,70,1,NaN,1.0,A,S,N,NaN,KFA,N,1,28.0,MADRID,1,139164.12,01 - TOP
929607,2016-06-28,660225,N,ES,V,46,2006-11-29,0,16,1,NaN,1.0,A,S,N,NaN,KHK,N,1,29.0,MALAGA,1,70789.41,02 - PARTICULARES
929608,2016-06-28,660231,N,ES,V,39,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,28.0,MADRID,0,70852.20,02 - PARTICULARES
929609,2016-06-28,660235,N,ES,H,36,2007-01-04,0,113,1,NaN,1.0,A,S,N,NaN,KAT,N,1,8.0,BARCELONA,0,100647.45,02 - PARTICULARES
929610,2016-06-28,660237,N,ES,V,55,1999-04-21,0,206,1,NaN,1.0,A,S,N,NaN,KAT,N,1,28.0,MADRID,1,128643.57,01 - TOP
929611,2016-06-28,660238,N,ES,V,30,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,26.0,"RIOJA, LA",0,NA,02 - PARTICULARES
929612,2016-06-28,660240,N,ES,V,52,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KBZ,N,1,33.0,ASTURIAS,1,72765.27,02 - PARTICULARES
929613,2016-06-28,660243,N,ES,V,32,2006-11-29,0,115,1,NaN,1.0,I,S,N,NaN,KFC,N,1,33.0,ASTURIAS,0,147488.88,02 - PARTICULARES
929614,2016-06-28,660248,N,ES,V,92,2006-11-29,0,115,1,NaN,1.0,A,S,N,NaN,KAT,N,1,45.0,TOLEDO,0,NA,02 - PARTICULARES

In [4]:
(test.isna().sum()/len(test))*100

fecha_dato                0.000000
ncodpers                  0.000000
ind_empleado              0.000000
pais_residencia           0.000000
sexo                      0.000538
age                       0.000000
fecha_alta                0.000000
ind_nuevo                 0.000000
antiguedad                0.000000
indrel                    0.000000
ult_fec_cli_1t           99.818957
indrel_1mes               0.002474
tiprel_1mes               0.002474
indresi                   0.000000
indext                    0.000000
conyuemp                 99.988813
canal_entrada             0.223856
indfall                   0.000000
tipodom                   0.000000
cod_prov                  0.429855
nomprov                   0.429855
ind_actividad_cliente     0.000000
renta                     0.000000
segmento                  0.241821
dtype: float64

In [73]:
test=test.drop(['ult_fec_cli_1t', 'conyuemp'], axis = 1)

In [74]:
test=test[test['pais_residencia']=='ES']

In [75]:
test=test[test['ind_actividad_cliente']==1]

In [76]:
test['segmento']=test["segmento"].str.split("-", n = 1, expand = True)[1]

In [77]:
len(train['ncodpers'].unique())

KeyError: 'ncodpers'

In [10]:
train.rename(columns={'ncodpers':'Customer_code','ind_empleado':'Employee index','pais_residencia':'CustomerCountryResidence','sexo':'sex','age':'Age','fecha_alta':'Date_of_first_account_holder','ind_nuevo':'New_customer_Index','antiguedad':'Customer_seniority_(in months)','indrel':'Primary_customer_status','indrel_1mes':'Customer_type_at_beginning_of_month','tiprel_1mes':'Customer relation type at the beginning of the month','indresi':'Residence index','indext':'Foreigner_index','canal_entrada':'channel_used_by_customer','indfall':'Deceased index','tipodom':'Addres type','cod_prov':'Province code','nomprov':'Province name','ind_actividad_cliente':'Activity index','renta':'Gross income','segmento':'segmentation','ind_ahor_fin_ult1':'Saving Account','ind_aval_fin_ult1':'Guarantees','ind_cco_fin_ult1':'Current Accounts','ind_cder_fin_ult1':'Derivada Account','ind_cno_fin_ult1':'Payroll Account','ind_ctju_fin_ult1':'Junior Account','ind_ctma_fin_ult1':'MÃ¡s particular Account','ind_ctop_fin_ult1':'particular Account','ind_ctpp_fin_ult1':'particular Plus Account','ind_deco_fin_ult1':'Short-term deposits','ind_deme_fin_ult1':'Medium-term deposits','ind_dela_fin_ult1':'Long-term deposits','ind_ecue_fin_ult1':'e-account','ind_fond_fin_ult1':'Funds','ind_hip_fin_ult1':'Mortgage','ind_plan_fin_ult1':'Pensions','ind_pres_fin_ult1':'Loans','ind_reca_fin_ult1':'Taxes','ind_tjcr_fin_ult1':'Credit Card','ind_valo_fin_ult1':'Securities','ind_viv_fin_ult1':'Home Account','ind_nomina_ult1':'Payroll','ind_nom_pens_ult1':'Pensions','ind_recibo_ult1':'Direct Debit'}, inplace=True)

In [11]:
train.columns

Index(['Unnamed: 0', 'fecha_dato', 'Customer_code', 'Employee index',
       'CustomerCountryResidence', 'sex', 'Age',
       'Date_of_first_account_holder', 'New_customer_Index',
       'Customer_seniority_(in months)', 'Primary_customer_status',
       'Customer_type_at_beginning_of_month',
       'Customer relation type at the beginning of the month',
       'Residence index', 'Foreigner_index', 'channel_used_by_customer',
       'Deceased index', 'Addres type', 'Province code', 'Province name',
       'Activity index', 'Gross income', 'segmentation', 'Saving Account',
       'Guarantees', 'Current Accounts', 'Derivada Account', 'Payroll Account',
       'Junior Account', 'MÃ¡s particular Account', 'particular Account',
       'particular Plus Account', 'Short-term deposits',
       'Medium-term deposits', 'Long-term deposits', 'e-account', 'Funds',
       'Mortgage', 'Pensions', 'Loans', 'Taxes', 'Credit Card', 'Securities',
       'Home Account', 'Payroll', 'Pensions', 'Direct Debit'],
      dtype='object')

In [12]:
class popularity_recommendation_model():
    
    #class variables
    MODEL_NAME = 'Popularity'
    data=0
    #constructor
    def __init__(self, data):
        self.data = data
    
    #Class functions
    
    #Function to get model name.    
    def get_model_name(self):
        return self.MODEL_NAME
    
    #Function to get most popular product.
    def get_popular_products(self):
        pop=self.data[['Customer_code','Saving Account','Guarantees', 'Current Accounts', 'Derivada Account', 'Payroll Account','Junior Account', 'MÃ¡s particular Account', 'particular Account','particular Plus Account', 'Short-term deposits','Medium-term deposits', 'Long-term deposits', 'e-account', 'Funds','Mortgage', 'Pensions', 'Loans', 'Taxes', 'Credit Card', 'Securities','Home Account', 'Payroll', 'Pensions', 'Direct Debit']]
        pop['Customer_code']=pop['Customer_code'].astype('str')
        pop=pop.set_index('Customer_code')
        #converting float data to (int)
        pop['Payroll']=pop['Payroll'].astype('int')
        pop['Pensions']=pop['Pensions'].astype('int')
        frequent_itemsets = apriori(pop, min_support=0.07, use_colnames=True)
        return frequent_itemsets.sort_values(['support'], ascending=[False]).reset_index()['itemsets']
    
    def get_association_between_the_product(self):
        pop=self.data[['Customer_code','Saving Account','Guarantees', 'Current Accounts', 'Derivada Account', 'Payroll Account','Junior Account', 'MÃ¡s particular Account', 'particular Account','particular Plus Account', 'Short-term deposits','Medium-term deposits', 'Long-term deposits', 'e-account', 'Funds','Mortgage', 'Pensions', 'Loans', 'Taxes', 'Credit Card', 'Securities','Home Account', 'Payroll', 'Pensions', 'Direct Debit']]
        pop['Customer_code']=pop['Customer_code'].astype('str')
        pop=pop.set_index('Customer_code')
        #converting float data to (int)
        pop['Payroll']=pop['Payroll'].astype('int')
        pop['Pensions']=pop['Pensions'].astype('int')
        frequent_itemsets = apriori(pop, min_support=0.08, use_colnames=True)
        rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
        return association_rules(frequent_itemsets, metric="lift", min_threshold=1)
        
    
    #Function for recommendation
    #def Recommend(self,sample):

In [15]:
ob=popularity_recommendation_model(train)
ob.get_popular_products()

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0                                    (Current Accounts)
1                                        (Direct Debit)
2                                  (particular Account)
3                                     (Payroll Account)
4                                           (e-account)
5                      (Direct Debit, Current Accounts)
6                (Current Accounts, particular Account)
7                       (Direct Debit, Payroll Account)
8                                            (Pensions)
9                                            (Pensions)
10                                           (Pensions)
11                          (Pensions, Payroll Account)
12                          (Pensions, Payroll Account)
13                          (Pensions, Payroll Account)
14                                            (Payroll)
15                                  (Payroll, Pensions)
16                                  (Payroll, Pensions)
17                                  (Payroll, Pensions)
18                           (Payroll, Payroll Account)
19                 (Payroll, Pensions, Payroll Account)
20                 (Payroll, Pensions, Payroll Account)
21                 (Payroll, Pensions, Payroll Account)
22                                              (Taxes)
23                             (Pensions, Direct Debit)
24                             (Pensions, Direct Debit)
25                             (Pensions, Direct Debit)
26            (Pensions, Direct Debit, Payroll Account)
27            (Pensions, Direct Debit, Payroll Account)
28            (Pensions, Direct Debit, Payroll Account)
29                                        (Credit Card)
30                              (Payroll, Direct Debit)
31                    (Payroll, Pensions, Direct Debit)
32                    (Payroll, Pensions, Direct Debit)
33                    (Payroll, Pensions, Direct Debit)
34                                 (Long-term deposits)
35                        (e-account, Current Accounts)
36             (Payroll, Direct Debit, Payroll Account)
37    (Payroll, Pensions, Direct Debit, Payroll Acco...
38    (Payroll, Pensions, Direct Debit, Payroll Acco...
39    (Payroll, Pensions, Direct Debit, Payroll Acco...
40                            (e-account, Direct Debit)
41                            (particular Plus Account)
42                                (Direct Debit, Taxes)
43                          (Credit Card, Direct Debit)
Name: itemsets, dtype: object

In [16]:
ob.get_association_between_the_product()

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Current Accounts),(particular Account),0.732716,0.200913,0.154021,0.210205,1.046252,0.006809,1.011766
1,(particular Account),(Current Accounts),0.200913,0.732716,0.154021,0.766606,1.046252,0.006809,1.145204
2,(Pensions),(Payroll Account),0.138272,0.185429,0.129995,0.940141,5.070086,0.104356,13.608181
3,(Payroll Account),(Pensions),0.185429,0.138272,0.129995,0.701052,5.070086,0.104356,2.882533
4,(Payroll),(Payroll Account),0.127275,0.185429,0.119910,0.942130,5.080812,0.096309,14.075840
5,(Payroll Account),(Payroll),0.185429,0.127275,0.119910,0.646662,5.080812,0.096309,2.469945
6,(Direct Debit),(Payroll Account),0.292117,0.185429,0.138870,0.475393,2.563749,0.084703,1.552727
7,(Payroll Account),(Direct Debit),0.185429,0.292117,0.138870,0.748914,2.563749,0.084703,2.819289
8,(e-account),(Direct Debit),0.178375,0.292117,0.089300,0.500631,1.713805,0.037194,1.417556
9,(Direct Debit),(e-account),0.292117,0.178375,0.089300,0.305700,1.713805,0.037194,1.183386
10,(Payroll),(Pensions),0.127275,0.138272,0.127275,1.000000,7.232112,0.109677,inf
11,(Pensions),(Payroll),0.138272,0.127275,0.127275,0.920470,7.232112,0.109677,10.973540
12,(Pensions),(Direct Debit),0.138272,0.292117,0.109346,0.790804,2.707150,0.068955,3.383831
13,(Direct Debit),(Pensions),0.292117,0.138272,0.109346,0.374324,2.707150,0.068955,1.377274
14,(Payroll),(Direct Debit),0.127275,0.292117,0.100878,0.792593,2.713273,0.063698,3.413015
15,(Direct Debit),(Payroll),0.292117,0.127275,0.100878,0.345333,2.713273,0.063698,1.333082
16,"(Payroll, Pensions)",(Payroll Account),0.127275,0.185429,0.119910,0.942130,5.080812,0.096309,14.075840
17,"(Payroll, Payroll Account)",(Pensions),0.119910,0.138272,0.119910,1.000000,7.232112,0.103330,inf
18,"(Pensions, Payroll Account)",(Payroll),0.129995,0.127275,0.119910,0.922417,7.247411,0.103365,11.248952
19,(Payroll),"(Pensions, Payroll Account)",0.127275,0.129995,0.119910,0.942130,7.247411,0.103365,15.033737
20,(Pensions),"(Payroll, Payroll Account)",0.138272,0.119910,0.119910,0.867202,7.232112,0.103330,6.627301
21,(Payroll Account),"(Payroll, Pensions)",0.185429,0.127275,0.119910,0.646662,5.080812,0.096309,2.469945
22,"(Pensions, Direct Debit)",(Payroll Account),0.109346,0.185429,0.103629,0.947715,5.110931,0.083353,15.579428
23,"(Pensions, Payroll Account)",(Direct Debit),0.129995,0.292117,0.103629,0.797175,2.728959,0.065655,3.490119
24,"(Direct Debit, Payroll Account)",(Pensions),0.138870,0.138272,0.103629,0.746228,5.396807,0.084427,3.395682
25,(Pensions),"(Direct Debit, Payroll Account)",0.138272,0.138870,0.103629,0.749457,5.396807,0.084427,3.437053
26,(Direct Debit),"(Pensions, Payroll Account)",0.292117,0.129995,0.103629,0.354752,2.728959,0.065655,1.348326
27,(Payroll Account),"(Pensions, Direct Debit)",0.185429,0.109346,0.103629,0.558861,5.110931,0.083353,2.018987
28,"(Payroll, Direct Debit)",(Payroll Account),0.100878,0.185429,0.095752,0.949188,5.118875,0.077046,16.031048
29,"(Payroll, Payroll Account)",(Direct Debit),0.119910,0.292117,0.095752,0.798531,2.733600,0.060724,3.513605
30,"(Direct Debit, Payroll Account)",(Payroll),0.138870,0.127275,0.095752,0.689505,5.417421,0.078077,2.810748
31,(Payroll),"(Direct Debit, Payroll Account)",0.127275,0.138870,0.095752,0.752320,5.417421,0.078077,3.476779
32,(Direct Debit),"(Payroll, Payroll Account)",0.292117,0.119910,0.095752,0.327786,2.733600,0.060724,1.309241
33,(Payroll Account),"(Payroll, Direct Debit)",0.185429,0.100878,0.095752,0.516380,5.118875,0.077046,1.859150
34,"(Payroll, Pensions)",(Direct Debit),0.127275,0.292117,0.100878,0.792593,2.713273,0.063698,3.413015
35,"(Payroll, Direct Debit)",(Pensions),0.100878,0.138272,0.100878,1.000000,7.232112,0.086929,inf
36,"(Pensions, Direct Debit)",(Payroll),0.109346,0.127275,0.100878,0.922552,7.248471,0.086961,11.268546
37,(Payroll),"(Pensions, Direct Debit)",0.127275,0.109346,0.100878,0.792593,7.248471,0.086961,4.294232
38,(Pensions),"(Payroll, Direct Debit)",0.138272,0.100878,0.100878,0.729558,7.232112,0.086929,3.324643
39,(Direct Debit),"(Payroll, Pensions)",0.292117,0.127275,0.100878,0.345333,2.713273,0.063698,1.333082
40,"(Payroll, Pensions, Direct Debit)",(Payroll Account),0.100878,0.185429,0.095752,0.949188,5.118875,0.077046,16.031048
41,"(Payroll, Pensions, Payroll Account)",(Direct Debit),0.119910,0.292117,0.095752,0.798531,2.733600,0.060724,3.513605
42,"(Payroll, Direct Debit, Payroll Account)",(Pensions),0.095752,0.138272,0.095752,1.000000,7.232112,0.082512,inf
43,"(Pensions, Direct Debit, Payroll Account)",(Payroll),0.103629,0.127275,0.095752,0.923986,7.259737,0.082562,11.481103
44,"(Payroll, Pensions)","(Direct Debit, Payroll Account)",0.127275,0.138870,0.095752,0.752320,5.417421,0.078077,3.476779
45,"(Payroll, Direct Debit)","(Pensions, Payroll Account)",0.100878,0.129995,0.095752,0.949188,7.301706,0.082638,17.122001
46,"(Payroll, Payroll Account)","(Pensions, Direct Debit)",0.119910,0.109346,0.095752,0.798531,7.302774,0.082640,4.420794
47,"(Pensions, Direct Debit)","(Payroll, Payroll Account)",0.109346,0.119910,0.095752,0.875675,7.302774,0.082640,7.078967
48,"(Pensions, Payroll Account)","(Payroll, Direct Debit)",0.129995,0.100878,0.095752,0.736579,7.301706,0.082638,3.413247
49,"(Direct Debit, Payroll Account)","(Payroll, Pensions)",0.138870,0.127275,0.095752,0.689505,5.417421,0.078077,2.810748
50,(Payroll),"(Pensions, Direct Debit, Payroll Account)",0.127275,0.103629,0.095752,0.752320,7.259737,0.082562,3.619064
51,(Pensions),"(Payroll, Direct Debit, Payroll Account)",0.138272,0.095752,0.095752,0.692488,7.232112,0.082512,2.940528
52,(Direct Debit),"(Payroll, Pensions, Payroll Account)",0.292117,0.119910,0.095752,0.327786,2.733600,0.060724,1.309241
53,(Payroll Account),"(Payroll, Pensions, Direct Debit)",0.185429,0.100878,0.095752,0.516380,5.118875,0.077046,1.859150

In [78]:
test.rename(columns={'ncodpers':'Customer_code','ind_empleado':'Employee index','pais_residencia':'CustomerCountryResidence','sexo':'sex','age':'Age','fecha_alta':'Date_of_first_account_holder','ind_nuevo':'New_customer_Index','antiguedad':'Customer_seniority_(in months)','indrel':'Primary_customer_status','indrel_1mes':'Customer_type_at_beginning_of_month','tiprel_1mes':'Customer relation type at the beginning of the month','indresi':'Residence index','indext':'Foreigner_index','canal_entrada':'channel_used_by_customer','indfall':'Deceased index','tipodom':'Addres type','cod_prov':'Province code','nomprov':'Province name','ind_actividad_cliente':'Activity index','renta':'Gross income','segmento':'segmentation'}, inplace=True)

In [18]:
pd.set_option('display.max_columns', 500)
train.head(3)

,Unnamed: 0,fecha_dato,Customer_code,Employee index,CustomerCountryResidence,sex,Age,Date_of_first_account_holder,New_customer_Index,Customer_seniority_(in months),Primary_customer_status,Customer_type_at_beginning_of_month,Customer relation type at the beginning of the month,Residence index,Foreigner_index,channel_used_by_customer,Deceased index,Addres type,Province code,Province name,Activity index,Gross income,segmentation,Saving Account,Guarantees,Current Accounts,Derivada Account,Payroll Account,Junior Account,MÃ¡s particular Account,particular Account,particular Plus Account,Short-term deposits,Medium-term deposits,Long-term deposits,e-account,Funds,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Pensions,Direct Debit
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,1.0,A,S,N,KHL,N,1.0,29.0,MALAGA,1,87218.10,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,7,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,113316.66,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,12,2015-01-28,1050623,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,49.0,ZAMORA,1,113538.81,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [20]:
#train.columns
len(train['Customer_code'].unique())

330193

In [21]:
len(test['Customer_code'].unique())

393167

In [28]:
from scipy import spatial

a = [1, 2]
b = [2, 4]
c = [2.5, 4]
d = [4.5, 5]

print(spatial.distance.euclidean(c, a))
print(spatial.distance.euclidean(c, b))
print(spatial.distance.euclidean(c, d))
print(spatial.distance.euclidean(a, b))

2.5
0.5
2.23606797749979
2.23606797749979

In [26]:
from scipy import spatial
a = [1, 2]
b = [2, 4]
c = [2.5, 4]
d = [4.5, 5]

print(spatial.distance.cosine(c,a))
print(spatial.distance.cosine(c,b))
print(spatial.distance.cosine(c,d))
print(spatial.distance.cosine(a,b))

0.004504527406047898
0.004504527406047898
0.015137225946083022
0.0

In [50]:
# load_data.py

import pandas as pd
from surprise import Dataset
from surprise import Reader

# This is the same data that was plotted for similarity earlier
# with one new user "E" who has rated only movie 1
ratings_dict = {
    "item": [1, 2, 1, 2, 1, 2, 1, 2, 1],
    "user": ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D', 'E'],
    "rating": [1, 2, 2, 4, 2.5, 4, 4.5, 5, 3],
}

ratings_dict
df = pd.DataFrame(ratings_dict)
reader = Reader(rating_scale=(1, 5))
#df
# Loads Pandas dataframe
data = Dataset.load_from_df(df[["user", "item", "rating"]], reader)
#data
# Loads the builtin Movielens-100k data
movielens = Dataset.load_builtin('ml-100k')

In [51]:
from surprise import KNNWithMeans

# To use item-based cosine similarity
sim_options = {
    "name": "cosine",
    "user_based": False,  # Compute  similarities between items
}
algo = KNNWithMeans(sim_options=sim_options)

In [53]:
#rom load_data import data
#rom recommender import algo
trainingSet= data.build_full_trainset()
algo.fit(trainingSet)
rediction = algo.predict('E', 2)
rediction.est

Computing the cosine similarity matrix...
Done computing similarity matrix.

4.15

In [56]:
train['fecha_dato'] = pd.to_datetime(train['fecha_dato'])
train['Date_of_first_account_holder'] = pd.to_datetime(train['Date_of_first_account_holder'])

In [99]:
#diff
print(len(test['Customer_code'].unique())-len(train['Customer_code'].unique()))
#print(len(train['Customer_code'].unique()))

62974

In [112]:
print("train")
print(len(train['Customer_code'].unique()))
print('test')
print(len(test['Customer_code'].unique()))
print("difference",62974)
print("removing all new users data :- ")
len(test['Customer_code'].unique())-62974

train
330193
test
393167
difference 62974
removing all new users data :-

330193

In [119]:
#len(train[train['Customer_code'].isin(test['Customer_code'].unique())].Customer_code.unique())
len(test[test['Customer_code'].isin(train['Customer_code'].unique())].Customer_code.unique())

301782

In [120]:
test.dtypes

fecha_dato                                               object
Customer_code                                             int64
Employee index                                           object
CustomerCountryResidence                                 object
sex                                                      object
Age                                                       int64
Date_of_first_account_holder                             object
New_customer_Index                                        int64
Customer_seniority_(in months)                            int64
Primary_customer_status                                   int64
Customer_type_at_beginning_of_month                     float64
Customer relation type at the beginning of the month     object
Residence index                                          object
Foreigner_index                                          object
channel_used_by_customer                                 object
Deceased index                                           object
Addres type                                               int64
Province code                                           float64
Province name                                            object
Activity index                                            int64
Gross income                                             object
segmentation                                             object
dtype: object

In [121]:
train

,Unnamed: 0,fecha_dato,Customer_code,Employee index,CustomerCountryResidence,sex,Age,Date_of_first_account_holder,New_customer_Index,Customer_seniority_(in months),Primary_customer_status,Customer_type_at_beginning_of_month,Customer relation type at the beginning of the month,Residence index,Foreigner_index,channel_used_by_customer,Deceased index,Addres type,Province code,Province name,Activity index,Gross income,segmentation,Saving Account,Guarantees,Current Accounts,Derivada Account,Payroll Account,Junior Account,MÃ¡s particular Account,particular Account,particular Plus Account,Short-term deposits,Medium-term deposits,Long-term deposits,e-account,Funds,Mortgage,Pensions,Loans,Taxes,Credit Card,Securities,Home Account,Payroll,Pensions,Direct Debit
0,0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,1.0,A,S,N,KHL,N,1.0,29.0,MALAGA,1,87218.10,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,7,2015-01-28,1050617,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,113316.66,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,12,2015-01-28,1050623,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,49.0,ZAMORA,1,113538.81,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,13,2015-01-28,1050624,N,ES,H,65,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,61605.09,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,16,2015-01-28,1050610,N,ES,V,24,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,37.0,SALAMANCA,1,68318.46,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5,18,2015-01-28,1050609,N,ES,H,22,2012-08-10,0.0,35,1.0,1.0,I,S,N,KFA,N,1.0,13.0,CIUDAD REAL,1,73432.47,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
6,20,2015-01-28,1050582,N,ES,V,28,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,13.0,CIUDAD REAL,1,64620.57,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7,21,2015-01-28,1050586,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,13.0,CIUDAD REAL,1,64194.99,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
8,24,2015-01-28,1050591,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,13.0,CIUDAD REAL,1,58728.39,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
9,26,2015-01-28,1050595,N,ES,V,25,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,5.0,AVILA,1,86863.38,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
10,27,2015-01-28,1050596,N,ES,H,25,2012-08-10,0.0,35,1.0,1.0,A,S,S,KHE,N,1.0,50.0,ZARAGOZA,1,68421.36,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
11,29,2015-01-28,1050598,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,45.0,TOLEDO,1,90408.75,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
12,32,2015-01-28,1050602,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,37.0,SALAMANCA,1,91282.71,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
13,33,2015-01-28,1050603,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,131351.94,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
14,36,2015-01-28,1050580,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,27.0,LUGO,1,77320.92,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
15,39,2015-01-28,1050669,N,ES,V,32,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,29.0,MALAGA,1,171398.85,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
16,40,2015-01-28,1050670,N,ES,V,37,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,37.0,SALAMANCA,1,64031.25,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
17,42,2015-01-28,1050679,N,ES,V,39,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,28.0,MADRID,1,157191.69,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
18,44,2015-01-28,1050686,N,ES,V,39,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,10.0,CACERES,1,37075.26,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,1
19,45,2015-01-28,1050688,N,ES,V,63,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,28.0,MADRID,1,245052.27,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0
20,47,2015-01-28,1050694,N,ES,V,31,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,28.0,MADRID,1,57155.34,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,1
21,51,2015-01-28,1050706,N,ES,H,33,2012-08-10,0.0,35,1.0,1.0,I,S,N,KHE,N,1.0,37.0,SALAMANCA,1,84061.95,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
22,54,2015-01-28,1050663,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,42.0,SORIA,1,148080.45,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
23,56,2015-01-28,1050662,N,ES,V,37,2012-08-10,0.0,35,1.0,1.0,A,S,N,KAT,N,1.0,28.0,MADRID,1,122456.91,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0.0,0.0,0
24,57,2015-01-28,1050660,N,ES,H,32,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,41.0,SEVILLA,1,94683.27,UNIVERSITARIO,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,1
25,59,2015-01-28,1050633,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,45.0,TOLEDO,1,34406.58,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
26,61,2015-01-28,1050635,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,37.0,SALAMANCA,1,77346.51,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
27,62,2015-01-28,1050636,N,ES,H,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,39.0,CANTABRIA,1,136930.23,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
28,63,2015-01-28,1050639,N,ES,V,23,2012-08-10,0.0,35,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,148677.18,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
29,64,2015-01-28,1050641,N,ES,V,42,2012-08-10,0.0,35,1.0,1.0,A,S,N,KFC,N,1.0,28.0,MADRID,1,45345.18,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5078005,13647106,2016-05-28,1166668,N,ES,H,62,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,8.0,BARCELONA,1,93653.79,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0.0,0
5078006,13647112,2016-05-28,1166727,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,90743.04,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078007,13647127,2016-05-28,1166712,N,ES,V,34,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,93346.47,PARTICULARES,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
5078008,13647161,2016-05-28,1166609,N,ES,H,23,2013-08-14,0.0,33,1.0,1.0,I,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,60686.31,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078009,13647167,2016-05-28,1166635,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,26.0,"RIOJA, LA",1,64826.94,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078010,13647172,2016-05-28,1166659,N,ES,H,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,73550.52,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078011,13647180,2016-05-28,1166650,N,ES,H,13,2013-08-14,0.0,33,1.0,1.0,A,S,N,KFA,N,1.0,28.0,MADRID,1,238449.18,PARTICULARES,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078012,13647189,2016-05-28,1166639,N,ES,V,16,2013-08-14,0.0,33,1.0,1.0,A,S,N,KFA,N,1.0,28.0,MADRID,1,238449.18,PARTICULARES,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078013,13647197,2016-05-28,1166815,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,I,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,55651.26,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078014,13647200,2016-05-28,1166812,N,ES,H,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,211900.02,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078015,13647202,2016-05-28,1166810,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,68385.90,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078016,13647214,2016-05-28,1166798,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,120760.59,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078017,13647218,2016-05-28,1166794,N,ES,V,25,2013-08-14,0.0,33,1.0,1.0,I,S,N,KHE,N,1.0,22.0,HUESCA,1,21813.75,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078018,13647220,2016-05-28,1166792,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,I,S,N,KHE,N,1.0,22.0,HUESCA,1,80059.50,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078019,13647222,2016-05-28,1166817,N,ES,V,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,44.0,TERUEL,1,104049.18,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078020,13647226,2016-05-28,1166843,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,26397.75,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078021,13647229,2016-05-28,1166840,N,ES,H,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,44089.89,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078022,13647230,2016-05-28,1166839,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,122109.21,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078023,13647232,2016-05-28,1166837,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,164120.07,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078024,13647233,2016-05-28,1166836,N,ES,V,27,2013-08-16,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,30.0,MURCIA,1,83108.82,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0.0,0.0,0
5078025,13647240,2016-05-28,1166829,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,3.0,ALICANTE,1,96488.88,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078026,13647248,2016-05-28,1166821,N,ES,H,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,279951.69,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078027,13647254,2016-05-28,1166756,N,ES,H,42,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,56105.28,PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078028,13647255,2016-05-28,1166755,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,I,S,S,KHE,N,1.0,50.0,ZARAGOZA,1,48440.43,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078029,13647257,2016-05-28,1166753,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,9.0,BURGOS,1,86137.50,UNIVERSITARIO,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1.0,1.0,1
5078030,13647260,2016-05-28,1166750,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,4.0,ALMERIA,1,55584.90,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,1
5078031,13647269,2016-05-28,1166741,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,47.0,VALLADOLID,1,40134.90,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078032,13647279,2016-05-28,1166759,N,ES,H,22,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,46.0,VALENCIA,1,161098.71,UNIVERSITARIO,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078033,13647290,2016-05-28,1166779,N,ES,V,23,2013-08-14,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,57302.85,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
5078034,13647294,2016-05-28,1166775,N,ES,V,23,2013-08-16,0.0,33,1.0,1.0,A,S,N,KHE,N,1.0,50.0,ZARAGOZA,1,77784.78,UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0